.customSelect {
    position: relative;
    font-family: "Montserrat";

}
.customSelect select {
    position: relative;
    width: 10vw;
    height: 3vh;
    border-radius: 0.5vw;
    font-family: 'Montserrat';
    font-weight: 600;
    padding-left: 0.3vw;
}